.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.normal {
    background-color: #A6A877 ;
}

.grass {
    background-color: #77C850;
}

.fire {
    background-color: #EE7F30;
}

.water {
    background-color: #688FEE;
}

.electric {
    background-color: #F7C82E;
}

.ice {
    background-color: #1BD8DE;
}

.ground {
    background-color: #A67846;
}

.flying {
    background-color: #AE9AEF;
}

.poison {
    background-color: #A857BD;
}

.fighting {
    background-color: #E36711;
}

.psychic {
    background-color: #DC68B3;
}

.dark {
    background-color: #385D66;
}

.rock {
    background-color: #65605D;
}

.bug {
    background-color: #A8B720;
}

.steel {
    background-color: #A0B2B6;
}

.ghost {
    background-color: #6C4272;
}

.dragon {
    background-color: #4B37E6;
}

.fairy {
    background-color: #F6AAEA;
}


.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #FFF;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #FFF;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    color: #FFF;
    background-color: #6C79DB;
    border: none;
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
}

.modal {
    display: none;
}

.modal-content {
    position: fixed;
    z-index: 1000; /* Define uma alta pilha de contexto z-index para o modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escurecido */
    overflow: auto; /* Adicione rolagem se o conteúdo do modal for longo */
    text-align: center; /* Centralize o conteúdo vertical e horizontalmente */
    /* Adicione outras propriedades de estilo desejadas aqui */
}





@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
